<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Sumeet Batra</title>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <img height="200" width="200" src="SumeetBatra.github.io/lol.jpg">
      <h1 class="project-name">Sumeet Batra</h1>
      <div id="head_desc">CU Boulder Undegraduate, Computer Science and Applied Math</div>
      <div id="head_em">sumeet.batra@colorado.edu</div>
      <div class="cards">
        <a href="https://github.com/sumeetbatra"><svg class="octicon octicon-mark-github" aria-hidden="true"
        height="50" role="img" title="GitHub " version="1.1"
        viewBox="0 0 16 16" width="50">
          <path style="fill:#ECEFF1" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59 0.4 0.07 0.55-0.17 0.55-0.38 0-0.19-0.01-0.82-0.01-1.49-2.01 0.37-2.53-0.49-2.69-0.94-0.09-0.23-0.48-0.94-0.82-1.13-0.28-0.15-0.68-0.52-0.01-0.53 0.63-0.01 1.08 0.58 1.23 0.82 0.72 1.21 1.87 0.87 2.33 0.66 0.07-0.52 0.28-0.87 0.51-1.07-1.78-0.2-3.64-0.89-3.64-3.95 0-0.87 0.31-1.59 0.82-2.15-0.08-0.2-0.36-1.02 0.08-2.12 0 0 0.67-0.21 2.2 0.82 0.64-0.18 1.32-0.27 2-0.27 0.68 0 1.36 0.09 2 0.27 1.53-1.04 2.2-0.82 2.2-0.82 0.44 1.1 0.16 1.92 0.08 2.12 0.51 0.56 0.82 1.27 0.82 2.15 0 3.07-1.87 3.75-3.65 3.95 0.29 0.25 0.54 0.73 0.54 1.48 0 1.07-0.01 1.93-0.01 2.2 0 0.21 0.15 0.46 0.55 0.38C13.71 14.53 16 11.53 16 8 16 3.58 12.42 0 8 0z"></path>
        </svg></a>
        <a href="https://www.linkedin.com/in/sumeetbatra"></a>
          <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg"
          xlmns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
          y="0px" width="50" height="50" viewBox="0 0 512 512" enable-
          background="new 0 0 512 512" xml:space="preserve">
            <path style="fill:#ECEFF1" d="M426.656,0H85.344C38.406,0,0,38.406,0,85.343v341.313C0,473.624,38.407,512,85.344,512h341.312  C473.593,512,512,473.624,512,426.656V85.344C511.998,38.406,473.593,0,426.656,0z M157.395,428.635H79.969V195.671h77.426V428.635z   M118.684,163.879h-0.508c-25.983,0-42.788-17.898-42.788-40.266c0-22.846,17.313-40.248,43.803-40.248  c26.486,0,42.791,17.396,43.296,40.248C162.487,145.973,145.678,163.879,118.684,163.879z M436.611,428.635h-77.426V303.997  c0-31.308-11.205-52.669-39.219-52.669c-21.395,0-34.143,14.406-39.73,28.318c-2.041,4.98-2.548,11.925-2.548,18.883v130.104  h-77.444c0,0,1.018-211.103,0-232.963h77.436v33c10.283-15.864,28.672-38.479,69.785-38.479c50.952,0,89.146,33.309,89.146,104.856  V428.635L436.611,428.635z"></path>
          </svg>
        <a href="resume.pdf"></a>

      </div>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
